body{
  margin: 0;
  font-family: sans-serif;
  color: white;
}
.block{
  background-color: rebeccapurple;
  padding: 15px;
  margin: 8px;
  border-radius: 5px;
}
.row{
  display: flex;
  justify-content: space-between;
}
h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  display: block;
}
header div a{
  margin: 8px;
}


/* .main--Cart{
  display: flex;
} */
.col-2{
  flex: 2;
}
.col-1{
  flex: 1;
}
.img-box{
  width: 180px;
  height: 120px;
  background: #fff;
}
.txt-right{
  text-align: right;
}
.btn{
  width: 70%;
  border: 2px solid black;
  border-radius: 4px;
  background: yellow;
  padding: 5px 0;
}
.btn-add{
  /* width: 70%; */
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 2px;
  background: rgb(0, 191, 255);
  font-size: medium;
  /* padding: 2px 0; */
}
.btn-remove{
  /* width: 70%; */
  border: 2px solid #fff;
  font-size: medium;
  border-radius: 5px;
  margin: 2px;
  background: red;
  padding: 1px 7px;
}
































/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
